#header {
    background-color: cornflowerblue;
}
nav#menu-top li{
    display: inline;
}
/*pseudo classi */
nav#menu-top li a:link{
    color: yellow;
}
nav#menu-top li a:hover{
    color: rgb(146, 146, 68);
    background-color: tomato;
}
nav#menu-top li a:active{
    color: rgb(77, 77, 46);
}
nav#menu-top li a:visited{
    color: rgb(42, 42, 28);
}
/*pseudo classi */
#news {
    margin: 10px;
}
.bg-grigio{
   background-color: darkgrey; 
}
article{
    padding: 10px;
}
h1{
    color: darkorange;
}
#titolo-principale {
    color: darkorchid;
}
.text-verde{
    color: darkgreen;
}
/* spazio selettore di discendenza */
#news h3{
    color: magenta;
}
/* > selettore di figlio diretto */
#news > p{
    font-size: 1.5em;
}
/* ~ [ALT+126] (tilde) selettore di fratelli successori*/
input ~ label {
    color: mediumorchid;
}
#scacchiera > div {
    width: 15%;
    height: 150px;
    display: inline-block;
}
/*pseudo classi*/
section#scacchiera div:hover{
    background-color: turquoise;
}
/*fine pseudo classi*/
/* + selettore di fratelli adiacenti e successori */
#scacchiera div + div {
    background-color: mediumpurple;
}
/*selettori di attributo*/
input[type="text"], input[type="email"]{
    border: 2px solid salmon;
}
input[name="nome"]{
    background-color: sandybrown;
}
body section:first-child{
    padding: 10px;
}
/* p[lang="en"] { */
p:lang(en) {
    font-style: italic;
    margin-top: 16px;
}
/*pseudo classi strutturali */
#scacchiera1 div div{
  width: 6%;  
  height: 60px;
  display: inline-block;
}
/* #scacchiera1 div:nth-child(1) div:nth-child(odd),
#scacchiera1 div:nth-child(3) div:nth-child(odd),
#scacchiera1 div:nth-child(5) div:nth-child(odd),
#scacchiera1 div:nth-child(7) div:nth-child(odd) {
    background-color: black;  
}
#scacchiera1 div:nth-child(2) div:nth-child(even),
#scacchiera1 div:nth-child(4) div:nth-child(even),
#scacchiera1 div:nth-child(6) div:nth-child(even),
#scacchiera1 div:nth-child(8) div:nth-child(even) {
    background-color: black;  
} */
/*oppure*/
#scacchiera1 div:nth-child(odd) div:nth-child(odd) {
    background-color: black;  
}
#scacchiera1 div:nth-child(even) div:nth-child(even) {
    background-color: black;  
}
/* #scacchiera1 div:nth-child(1){ */
/* #scacchiera1 div:nth-child(odd){ */
/* #scacchiera1 div:nth-child(2n+2) */
/* #scacchiera1 div:nth-child(1),
#scacchiera1 div:nth-child(1),
#scacchiera1 div:nth-child(1), */
/* {
    background-color: black;
} */
#scacchiera1 div:nth-last-child(1) div:nth-last-child(1){
    background-color: red;
}

#strisce-pedonali div{
    width: 10%;  
    display: inline-block;
}
#strisce-pedonali div::after{
    content: '';
    display: block;
    padding-bottom: 100%;
}
#strisce-pedonali div:last-child,
#strisce-pedonali div:first-child  {
    background-color: red;
}
#strisce-pedonali div:nth-child(even)  {
    background-color: black;
}
#strisce-pedonali div:empty {
    border: 3px solid orange;
}
#news article:not(.bg-grigio){
    background-color: palegreen;
}
#contatti input:enabled {
    background-color: palegreen;
}
#contatti input:disabled {
    background-color: darkmagenta;
}
#contatti input:checked + label {
    font-size: 2em;
}
/*pseudo elementi*/
article p::first-letter{
    font-size: 3em;
}
article p::first-line{
    color: darkorange;
}
#menu-top li a::before{
    content: '-->';
}
#menu-top li a::after{
    content: '<--';
}
#box, #box1{
    border: 10px solid black;
    /* padding: 10%; */
    margin: 20px 0.5%;
    background-color: lime;
    width: 48%;
    display: inline-block;
}
#box, #box1{
    box-sizing: border-box;
}
/*media query per ultime!!*/
/*margin - width - height auto*/
#dimensioni h2{
    width: 250px;
    margin: 15px auto;
}
#dimensioni div.testo{
    min-height: 50px;
    max-height: 100px;
    border: 3px solid orangered;
    overflow-y: scroll;
}
/* #dimensioni div.immagine{
    max-height: 200px;
    border: 3px solid orangered;
    overflow: scroll;
}
#dimensioni div.immagine img{
    max-height: 100%;
} */
#dimensioni div.immagine{
    text-align: center;
}
#dimensioni div.immagine img{
    max-width: 100%;
    margin: 0 auto;
    display: inline-block;
}
@media screen and (min-width: 576px) {
    
}
@media screen and (min-width: 768px) {
    #titolo-principale {
        color: magenta;
    }
    #news article {
        display: inline-block;
        width: 30%;
    }
}
@media screen and (min-width: 992px) {
    
}
@media screen and (min-width: 1200px) {
    
}
@media screen and (min-width: 1400px) {
    
}