nav {
    margin: 10px 0px;
}
nav li a{
    padding: 5px;
}
nav li :hover{
    background-color: violet;
}
input[type="checkbox"] + label {
    font-size: 1.5em;
    color: magenta;
}
@media screen and (min-width: 992px) {
    nav li{
        display: inline;
    }    
}